.modal {
  background-color: var(--modal-background-color);
  border: 3px solid black;
  border-radius: 0 !important;
  margin: auto;
  box-shadow: var(--figure-border-shadow);
  max-width: 600px;
  width: 100%;
  position: relative;
  padding: 16px !important;
  overflow-x: hidden !important;
  overflow-y: auto;
  @media (max-width: 1100px) {
    border-left: none;
    border-right: none;
  }
  &::after {
    content: url("/svg/palm.svg");
    position: absolute;
    bottom: -10px;
    left: -10px;
    @media (max-width: 1100px) {
      display: none;
    }
  }
  &::before {
    content: url("/svg/smiley2.svg");
    position: absolute;
    top: -20px;
    right: -10px;
  }
}
.modal__content {
  justify-content: center;
  align-items: center !important;
  padding: 0 !important;
}
.modal__inner {
  padding: 0 !important;
}
.modal__close {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50px;
  button {
    background-color: transparent !important;
    color: transparent !important;
    position: absolute;
  }
  &::after {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="black" d="M19 3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2m-3.4 14L12 13.4L8.4 17L7 15.6l3.6-3.6L7 8.4L8.4 7l3.6 3.6L15.6 7L17 8.4L13.4 12l3.6 3.6z" /></svg>');
  }
}

*::-webkit-scrollbar {
  width: 17px;
  padding: 5px;
  color: #f2d027;
}

*::-webkit-scrollbar-track {
  background-color: #0c0c0d;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #f2d027;
  border-radius: 14px;
  border: 5px solid #0c0c0d;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #f2d027;
}
