---
import { HolidazeGateWay } from "../gateway/HolidazeGateway";
import BookingCard from "../components/bookings/YourBookings.svelte";
import Layout from "../layouts/Layout.astro";
import type { Booking } from "../types/types";

const { user, token } = Astro.locals;

if (!user) return Astro.redirect("/login");

const holidazeGateWay = new HolidazeGateWay();
let data: Booking[];
try {
  const fetchedData = await holidazeGateWay.profile(
    user,
    token,
    import.meta.env.API_KEY
  );
  data = fetchedData?.data?.bookings;
} catch (error) {
  console.error("Failed to fetch data:", error);
  data = [];
}
---

<Layout title="bookings" , description="Here you can find your bookings">
  <section>
    <BookingCard data={data} client:load />
  </section>
</Layout>

<style lang="scss">
  section {
    max-width: 1000px;
    width: 100%;
    margin: 20px auto;
    padding: 16px;
  }
</style>
