---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.svelte";
import {HolidazeGateWay} from "../gateway/HolidazeGateway"
import Carousel from "../components/uiComponents/Carousel.svelte"
import About from "../components/About.svelte";
import type { Venues } from "../types/types";

const holidazeGateWay = new HolidazeGateWay()
let data:any
try {

  data = await holidazeGateWay.getVenues({ query: '' });
} catch (error) {
  console.error('Failed to fetch data:', error);
  data = []
}
---

<Layout title="Welcome to Astro.">
  <main>
    <Hero  />
    <Carousel data={data} client:only />
    <About client:only />
  </main>
</Layout>

<style></style>
