---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.svelte";
import { HolidazeGateWay } from "../gateway/HolidazeGateway";
import Carousel from "../components/uiComponents/Carousel.svelte";
import About from "../components/About.svelte";
import type { Venue } from "../types/types";

const holidazeGateWay = new HolidazeGateWay();
let data: Array<Venue>;
try {
  const fetchedData = await holidazeGateWay.getVenues({ query: "" });
  if (Array.isArray(fetchedData?.data)) {
    data = fetchedData.data;
  } else {
    data = []; 
  }

} catch (error) {
  console.error("Failed to fetch data:", error);
  data = [];
}
---

<Layout title="Welcome to Astro.">
  <main>
    <Hero />
    <Carousel data={data} client:only="svelte" />
    <About client:load />
  </main>
</Layout>

<style></style>
