---
import Layout from "../layouts/Layout.astro";
import { HolidazeGateWay } from "../gateway/HolidazeGateway";
import type { User } from "../types/types";
import Banner from "../components/uiComponents/profileComponents/Banner.svelte"
const holidazeGateWay = new HolidazeGateWay();

const session = Astro.cookies.get("session")?.json();
if (!session.accessToken || !session.name) return Astro.redirect("/warning");
let data: User | null;
try {
  const fetchedData = await holidazeGateWay.profile(
    session.name,
    session.accessToken,
    import.meta.env.API_KEY
  );
  data = fetchedData;
  console.log(data);
} catch (error) {
  console.error("Failed to fetch data:", error);
  data = null;
}
---

<Layout title="profile">
  <section class="profile-wrapper">
    <Banner data={data} />
  </section>
</Layout>
<style lang="scss">
  .profile-wrapper {
    max-width: 1000px;
    width: 100%;
    margin: auto;
    padding: 16px;
  }
</style>
