---
import RegisterForm from "../components/forms/RegisterForm.svelte"
import Layout from "../layouts/Layout.astro"
---
<Layout title="Welcome to Astro.">
    <section>
        <RegisterForm client:idle />
    </section>
</Layout>


<style>
    section{
        height: 70vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
</style>