---
import Layout from "../layouts/Layout.astro";
import VenueSection from "../components/VenueSection.svelte";

import { HolidazeGateWay } from "../gateway/HolidazeGateway";

import type { Venue } from "../types/types";

const holidazeGateWay = new HolidazeGateWay();
let data: Array<Venue>;
try {
  const fetchedData = await holidazeGateWay.getVenues({ query: "" });
  if (Array.isArray(fetchedData?.data)) {
    data = fetchedData.data;
  } else {
    data = [];
  }
  console.log(data.length);
} catch (error) {
  console.error("Failed to fetch data:", error);
  data = [];
}
---

<Layout title="Welcome to Astro.">
  <h1>VENUES</h1>
  <VenueSection data={data} client:load />
</Layout>
<style lang="scss">
  h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 100px;
    @media (max-width: 1100px) {
      font-size: 60px;
    }
  }
</style>
