---
import Layout from "../layouts/Layout.astro";
import VenueSection from "../components/VenueSection.svelte";

import { HolidazeGateWay } from "../gateway/HolidazeGateway";

import type { Venues } from "../types/types";

const holidazeGateWay = new HolidazeGateWay();
let data: Venues;
try {
  const fetchedData = await holidazeGateWay.getVenues({ query: "" });
  data = Array.isArray(fetchedData) ? fetchedData : [fetchedData];
} catch (error) {
  console.error("Failed to fetch data:", error);
  data = [];
}
---

<Layout title="Welcome to Astro.">
  <h1>VENUES</h1>
  <VenueSection data={data} client:load />
</Layout>
<style>
  h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 100px;
  } 
</style>
