---
import { Modal } from "accessible-astro-components";
import VenueForm from "../forms/VenueForm/VenueForm.svelte";
---

<Modal triggerId="modal3-trigger" title="">
  <h3 style="color: transparent;">Venue</h3>
  <VenueForm client:load />
</Modal>
