<footer class="footer">
  <article class="footer__content">
    <h2 class="footer__title">HOLDIAZE</h2>
    <p>Find us at awesome street 9000</p>
  </article>
</footer>

<style lang="scss">
  .footer {
    width: 100%;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--header-footer-bg);
    &__content {
      max-width: 983px;
      width: 100%;
      margin: 20px auto;
      display: flex;
      flex-direction: column;
      position: relative;
      align-items: center;
      p {
        margin-top: 16px;
      }
    }
    &__title {
      opacity: 0.5;
    }
  }
</style>
