---
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";
import Navigation from "../components/Navigation.svelte";
import Profile from "../components/profile/profile.astro";
import "../styles/global.scss";
import "../styles/forms.scss";
import "../styles/modal.scss";

interface Props {
  title: string;
  description: string;
}
const { user } = Astro.locals;
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <script>
      const themeToggles = document.querySelectorAll("[data-theme-toggle]");
      const getTheme = () => localStorage.getItem("theme") || "light";
      const setTheme = (theme: string) =>
        document.documentElement.setAttribute("data-theme", theme);

      window.addEventListener("DOMContentLoaded", () => setTheme(getTheme()));
      document.addEventListener("astro:after-swap", () => setTheme(getTheme()));

      themeToggles.forEach((toggle) => {
        toggle.addEventListener("click", () => {
          const nextTheme = getTheme() === "light" ? "dark" : "light";
          localStorage.setItem("theme", nextTheme);
          setTheme(nextTheme);
        });
      });

      const handleScroll = () => {
        let lastScrollTop = 0;
        const header = document.getElementById("header");

        if (header) {
          window.addEventListener("scroll", () => {
            const scrollTop =
              window.scrollY || document.documentElement.scrollTop;

            if (scrollTop > lastScrollTop) {
              header.style.top = "-80px";
            } else {
              header.style.top = "0";
            }

            lastScrollTop = scrollTop;
          });
        }
      };

      window.addEventListener("DOMContentLoaded", handleScroll);
      document.addEventListener("astro:after-swap", handleScroll);
    </script>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description || "Default description"} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <header id="header">
      <button data-theme-toggle transition:persist class="darkmode-button"
        ><span class="visually-hidden">Toggle Dark Mode</span></button
      >

      <a href="/" class="logo">Holidaze</a>
      <div class="nav-profile">
        <Navigation user={user ?? ""} client:load />
        {user ? <Profile /> : ""}
      </div>
    </header>
    <slot />
    <Footer />
    <style lang="scss">
      .darkmode-button {
        background-color: var(--button-darkmode-bg);
      }
    </style>
  </body>
</html>
